.buscar{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-top: 62px;
    margin-bottom: 57px;
    width: 450px;
}

.inputBuscar{
    position: relative;
    width: 100%;
}

.inputBuscar input{
  height:55px;
  width: 100%;
  padding-left: 20px;
  outline: none;
  background: none;
  border: 1px solid #303030;
  border-radius: 10px;
  color: white;
}

.botonBuscar{
    position: absolute;
    top: 12px;
    bottom: 0;
    right: 10px;
    margin: auto;
}

.botonBuscar button{
    height: 32px;
    cursor: pointer;
    border: none;
    background:none;
}

@media (max-width:770px){
    .buscar{
        max-width: 365px;
    }
}