.content{
   cursor: pointer;
   transition: all .2s ease-in-out;
   margin-bottom: 42px;
}
.content .titleCard{
    font-size:14px;
    margin-top: 12px;
    margin-bottom: 6px;
    font-weight:600;
    color: rgb(176, 176, 176);
    
}
.content:hover{
    opacity: 0.6;
}
.imgCard{
    width:225px;
    height:337px;
}