.contentNav{
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.94) 57.81%, rgba(101, 1, 1, 0.508) 100%);
    position: fixed;
    z-index: 2;
    
}
.subContent{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

/* QUERY */
@media (max-width:980px){
    .contentNav{
        position: relative;
    }
    .boxSearch{
        display: none;
    }
}
@media (max-width:991px){
    .boxSearch{
        display: none;
    }
}