@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

a{
  color: white!important;
  text-decoration: none!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* CUSTOMS CSS */
.slider-content-img{
  position: relative;
}
.titles-movies-slider{
  background: linear-gradient(180deg, rgba(104, 0, 0, 0.294) 7.81%, rgba(234, 234, 234, 0) 100%);
  padding: 30px;
  position: absolute;
  left:23px;
  bottom:104px;
  opacity: 0.9;
  font-size:37px;
  font-weight: 800;
  z-index: 2;
  color: white;
  font-family: 'Inter', sans-serif;
}

@media (max-width:838px){
  .titles-movies-slider{
    bottom: 38px;
  }
}

@media (max-width:777px){
  .titles-movies-slider{
    font-size: 28px;
    bottom: 38px;
  }
}

@media (max-width:483px){
  .titles-movies-slider{
    font-size:26px;
    bottom: 28px;
    padding: 9px;
    left: 5px;
  }
}

@media (max-width:385px){
  .titles-movies-slider{
    font-size: 17px;
    bottom: 28px;
    padding: 9px;
    left: 5px;
  }
}
